[Unit]
Description=OpenTracker
After=network.target

[Service]
User=__APP__
Group=__APP__
Type=simple
UMask=000
WorkingDirectory=__FINALPATH__
ExecStart=__FINALPATH__/opentracker &
RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target
